.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.transition-text {
    position: relative;
    bottom: 40%; /* Start position */
    animation: slideDown 1s ease-in-out;
  }
  
  @keyframes slideDown {
    0% {
        opacity: 0;
      bottom: 40%;
    }
    100% {
        opacity: 1;
      bottom: 60%; /* End position */
    }
  }
  .text-fixed {
    position: relative;
    bottom: 60%; /* Fixed position after animation */
  }

  .transition-text-sub {
    position: relative;
    bottom: 30%;/* Start position */
    animation: slideDown-sub 1.3s ease-in-out;
  }
  
  @keyframes slideDown-sub {
    0% {
        opacity: 0;
      bottom: 30%;
    }
    100% {
        opacity: 1;
      bottom: 50%; /* End position */
    }
  }
  .text-fixed-sub {
    position: relative;
    bottom: 50%; /* Fixed position after animation */
  }
  .transition-text-text {
    position: relative;
    bottom: 20%; /* Start position */
    animation: slideDown-text 1.6s ease-in-out;
  }
  
  @keyframes slideDown-text {
    0% {
        opacity: 0;
      bottom: 20%;
    }
    100% {
        opacity: 1;
      bottom: 40%; /* End position */
    }
  }
  .text-fixed-text {
    position: relative;
    bottom: 40%; /* Fixed position after animation */
  }
  .transition-btn {
    position: relative;
    bottom: 10%; /* Start position */
    animation: slideDown-btn 1.9s ease-in-out;
  }
  
  @keyframes slideDown-btn {
    0% {
        opacity: 0;
      bottom: 10%;
    }
    100% {
        opacity: 1;
      bottom: 30%; /* End position */
    }
  }
  .btn-fixed {
    position: relative;
    bottom: 30%; /* Fixed position after animation */
  }

  .noElement{
    visibility: hidden;
  }

  @media (max-width: 768px) {
    .transition-text {
      position: relative;
      bottom: 40%; /* Start position */
      animation: slideDown 1s ease-in-out;
    }
    
    @keyframes slideDown {
      0% {
          opacity: 0;
        bottom: 40%;
      }
      100% {
          opacity: 1;
        bottom: 62%; /* End position */
      }
    }
    .text-fixed {
      position: relative;
      bottom: 62%; /* Fixed position after animation */
    }
  
    .transition-text-text {
      position: relative;
      bottom: 20%; /* Start position */
      animation: slideDown-text 1.6s ease-in-out;
    }
    
    @keyframes slideDown-text {
      
      
      0% {
          opacity: 0;
        bottom: 20%;
      }
      100% {
          opacity: 1;
        bottom: 35%; /* End position */
      }
    }
    .text-fixed-text {
      position: relative;
      bottom: 35%; /* Fixed position after animation */
    }
    .transition-btn {
      position: relative;
      bottom: 10%; /* Start position */
      animation: slideDown-btn 1.9s ease-in-out;
    }
     @keyframes slideDown-btn {
    0% {
        opacity: 0;
      bottom: 10%;
    }
    100% {
        opacity: 1;
      bottom: 16%; /* End position */
    }
  }
  .btn-fixed {
    position: relative;
    bottom: 16%; /* Fixed position after animation */
  }
  }